.Controls{
    width: 80px;
    height: 25px;
    position: absolute;
    right: 0px;
    top:0px;
} 

.Buttons{
    float: right;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    width: 25px;
    height: 24px;
    z-index: 10;
    cursor: default;
} 

.Buttons:hover{
    background-color: rgba(255, 255, 255, 0.342);
} 