body {
    background-color: aliceblue;
}

.appCard{
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 40px;
    position: relative;
    cursor: pointer;
    transition-duration: .4s;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.appCard:hover{
    background-color: rgb(218, 220, 255);
    box-shadow: 0px 0px 5px 0px rgba(0, 17, 255, 0.856)
}

.mainPage{
    padding-top:60;
}

.appIcon{
    width: 60px;
    height: 60px;
}

.appTitle{
    width: auto;
    position: absolute;
    top: 40px;
    left: 120px;
}


.topBar{
    height: 50px;
    background-color:rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    align-content: center;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.typeIcon{
    width: 30px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    float: left;
}

.selected {
    border-color: rgb(0, 0, 0);
}

.typeImg{
    float: left;
}

.inputFind {
    padding: 5px;
    margin: 10px;
    position: absolute;
    right: 10px;
    border-color: white;
    border-radius: 5px;
}