.fExplorer {
  position: absolute;
  top: 30px;
  left: 205px;
  right: 0;
  bottom: 26px;
  padding: 2px;
  overflow-y: scroll;
}

.typeF {
  position: fixed !important;
  bottom: +55px;
  right: +55px;
  width: 120px;
  height: auto;
  z-index: 0;
}
