.fExplorer {
  position: absolute;
  top: 30px;
  left: 205px;
  right: 0;
  bottom: 26px;
  padding: 2px;
  overflow-y: scroll;
}

.typeF {
  position: fixed !important;
  bottom: +55px;
  right: +55px;
  width: 120px;
  height: auto;
  z-index: 0;
}

.explorerLoading{
  position: fixed;
  left: calc( 55% - 20px );
  top: calc( 50% - 50px );
  width: 100px;
  height: 80px;
}
