.OOBE{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    user-select:none;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    cursor: none;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }


.BackgroundVideo{
    overflow: hidden;
    z-index: -110;
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.OOBEBar{
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    background-color: #12387f;
    width: 100%;
    height: 90px;
}

.bottom{
    position: fixed;
    bottom: 0;
}

.top{
    position: fixed;
    top: 0;
}

.OOBEContainer {    
    position: fixed;    
    top: 90px;  
    bottom: 90px;
    left: 0;
    right: 0;
    padding: 50px;
    overflow-x: auto;
    color: white;
    font-size: 20px;
    cursor: default;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.28);
    background-color: rgba(109, 172, 255, 0.644);
}

.ZEDLOGO{
    position: fixed;
    left: 10px;
    top: 0px;
    width: auto;
    height: auto;
    margin: 10px;
    cursor: default;
}

.ZEDLOGOPNG {
    width: 60px;
    height: auto;
    float: left;
    padding-right: 10px;
}

.ZEDLOGOLABEL {
    width: 220px;
    margin-top: 15px;
    color: white;
    font-size: 37px;
    cursor: default;
}

.buttonsGrup{
    position: fixed;
    right: 10px;
    bottom: 0;
}

.blockNext{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 210px;
    height: 90px;
    background-color: #12387f;
}

.endOOBE{
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.endOOBELOGO{
    width: 100px;
    height: auto;
    padding: 40px;
}