.startMenuOpen {
    background-color: rgba(0, 0, 0, 0.904);
    position:absolute;
    width: 400px;
    height: 600px;
    bottom: 40px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    opacity: 1;
    transition: opacity .2s;
}

.startMenu {
    opacity: 0;
    transition: opacity .2s;
}

.leftPanel {
    width: 40px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
}

.menuIcon {
    border-radius: 50%;
    position:absolute;
    bottom: 5px;
    margin: 7px;
    left: 0px;
    width: 25px;
}
