.startMenu{
    position:absolute;
    width: 400px;
    height: 70%;
    max-height: 500px;
    bottom: 43px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.527);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.527);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.527);
    transition: opacity .2s;
    opacity: 1;
    transition: all .2s;
}
.startMenu.hidden{
  opacity: 0;
  height: 20%;
  pointer-events: none;
}



.userPicture {
	width: 26px;
	margin-right:12px;
  margin-left:4px;
  margin-top: 5px;
	float:left;
	border-radius:2px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.userName{
  float: left;
  margin-left: 0px;
  margin-top: 5px;
  font-style: oblique;
  font-size: 22px;
} 

.topMenu{
  width: 100%;
  height: 38px;
} 

.bottomMenu{
  width: 100%;
  height: 50px;
  position: relative;
} 

.bottomMenu input{
  position: absolute;
  left: 10px;
  top: 13px;
  width: 290px;
} 


.bottomMenu .shutdown{
  position: absolute;
  right: 10px;
  top: 7px;
  width: 25px;
  height: 25px;
} 
.bottomMenu .logoff{
  position: absolute;
  right: 50px;
  top: 7px;
  width: 25px;
  height: 25px;
} 

.startLeter {
  margin-left: 15px;
  padding: 2px;
  color: black;
} 

.menuIcon {
    border-radius: 50%;
    margin: 7px;
    left: 0px;
    width: 25px;
}

.systemMenu{
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 95%;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  left: 100%;
} 

.systemItem{
  position: relative;
  width: 95%;
  height: 40px;
  padding-left: 10px;
  background-color: rgba(0, 0, 139, 0);
} 

.systemItem:hover{
  background-color: rgba(255, 255, 255, 0.315)
} 

.systemItem img{
  height:32px;
  width: 32px;
} 

.systemItem div{
  position: absolute;
  top: 10px;
  left: 52px;
} 

hr{
  margin-left: 15px;
  margin-right: 15px;
} 

.AppsList{
    float: left;
    width: 100%;
    height: 95%;
    color: black;
    background-color: rgba(255, 255, 255, 0.616);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
} 

.middleMenu{
  width: 50%;
  height: -moz-calc(100% - 88px);
  /* WebKit */
  height: -webkit-calc(100% - 88px);
  /* Opera */
  height: -o-calc(100% - 88px);
  /* Standard */
  height: calc(100% - 88px);
  position: relative;
} 

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #68b8ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #68b8ff;
}
::-webkit-scrollbar-thumb:active {
  background: #0088ff;
}
::-webkit-scrollbar-track {
  background: #e5e5e5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e5e5e5;
}
::-webkit-scrollbar-track:active {
  background: #c8c8c8;
}
::-webkit-scrollbar-corner {
  background: transparent;
}