.WebFrame {
  position: relative;
  top: 35px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.795);
}

.BrowserContainer {
  font-family: sans-serif;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 69px);
}
