.taskButton {
    position: relative;
    height: 30px;
    width: 150px;
    float: left;
    padding-right: 8px;
    margin: 2.5px;
    border: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
} 

.taskButton:hover {
    background-color: rgba(0, 60, 255, 0.281);
} 

.taskIcon {
    float: left;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 2px;
} 

.taskSound {
    position: absolute;
    z-index:-1;
    width: 150px;
}

.taskTitle {
    float: left;
    margin-top: 6.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 112px;
} 