.App {
  position: fixed;
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  user-select: none;
}

.settingTable {
  text-anchor: top;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.settingTitle{
  color: #495AD1 !important;
  font-family: "Franklin Gothic Medium", "Tahoma";
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1px;
  margin-top: 20px;
}
