.PanelButton {
  background-color: rgb(5, 5, 5);
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.PanelButtonActive {
  background-color: rgb(143, 143, 143);
  padding: 12px;
  color: black;
  text-align: left;
  cursor: pointer;
}

.PanelButton:hover {
  background-color: rgb(61, 61, 61);
}
