.PanelButton {
  background-color: #7691e4;
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.PanelButtonActive {
  background-color: #86a8ff;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-align: left;
  cursor: pointer;
}

.PanelButton:hover {
  background-color: #6184de;
}
