.Switch3D {
    position: absolute;
    top:0px;
    background-color: rgba(38, 0, 255, 0.116);
    color: rgba(255, 255, 255, 0.26);
    padding-top: 12px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}

.Switch3D:hover {
    background-color: rgba(38, 0, 255, 0.63);
    color: rgb(255, 255, 255);
}