.UserIcon {
    position: initial;
    width: 100px;
    height: 100px;
    color: white;
    cursor: pointer;
    padding: 10px;
}


.UserIcon :Hover {
    background-color: rgb(70, 70, 70);
}

.UserPNG {
    padding-top: 10px;
    height: 50px;
}