.Shutdown{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.555);
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
}

.ShutdownDLG{
    width: 400px;
    height: 240px;
    background-color: #039;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -120px;
}

.ShutdownLBL{
    color: white;
    font-size: 20px;
    margin: 14px;
}

.ShutdownLogo{
    position: absolute;
    width: 30px;
    height: 30px;
    top:0px;
    right: 0px;
    margin: 10px;
}

.ShutdownMainDLG{
    position: absolute;
    left: 0;
    height: 140px;
    width: 100%;
    color: white;
    background-color: #7192e7;
}

.ShutdownCancel{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 12px;
}

.ShutdownBTN {
    width: 80px;
    height: 90px;
    float: left;
    margin-top: 30px;
    margin-left: 38px;
}

.ShutdownBTNIcon {
    width: 50;
    height: 50;
    margin-bottom: 5px;
    cursor: pointer;
}

.ShutdownBTNIcon:hover {
    width: 50;
    height: 50;
    filter: saturate(5);
    margin-bottom: 5px;
}