.copyForm{
    position: relative;
    overflow: hidden;
}

.copyStatus {
    margin: 10px;
}

.copyProgress {
    margin: 10px;
    background-color: 'red';
    background-color: rgb(200, 200, 200);
}