.window {
    position: absolute;
    z-index: 1;
    cursor: default;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(13, 8, 73);

    opacity: 1;
    transition: all .5s;
  }

  .shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  .window.hidden {
    opacity: 0;
  }

  .overlay{
    top:0;
    background-color:rgba(0, 0, 0, 0.123);
    left:0;
    width:100%;
    height:100%;
    position:absolute;
  }
  
  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area{
    height: 25px;
    position:absolute;
    right:0;
    top:0;
  }

  .body{
      position: absolute;
      margin-top:26px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255);
  } 

  .maximizedBody {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .frame{
    position: relative;
    width: 99.95%;
    height: 99.95%;
    border: 0px;
    background-color: rgb(255, 255, 255);
  } 

  .appTitle{
    position: absolute;
    left: 30px;
    right: 80px;
    top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	}
	.titleBar{
    float: left;
    margin-top: 6.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 112px;
	}
	.appIcon{
    position: absolute;
		width:18px;
    height:18px;
    left: 2px;
    top: 1px;
	}
	.appControls{
    width:72px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 4px;
	}
	.btnControl{
		width:18px;
		height:18px;
    float:right;
    border-radius: 4px;
    background-color:rgba(255, 255, 255, 0.171);
    margin: 0;
    padding: 0;
    margin-right: 5px;
	}
	.btnControl:hover{
		background-color:#00005f;
	}
	.btnXControl{
		width:18px;
		height:18px;
    float:right;
    border-radius: 4px;
    background-color:rgba(255, 255, 255, 0.171);
    margin: 0;
    padding: 0;
    margin-right: 5px;
	}
	.btnXControl:hover{
		background-color:red;
	}
