.window {
    position: absolute;
    z-index: 1;
    cursor: default;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    user-select: none;
    opacity: 1;
    padding: 0px;
    transition-duration: 0.3s;
  }

  .dontMove {

  }

  .goBackURL{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    transition-duration: 0.4s;
    transition-property: all;
    background-color: rgba(255, 0, 0, 0.15);
  }

  .goBackURL:hover{
    transition-duration: 0.9s;
    transition-property: all;
    background-color: red;
    cursor: pointer;
  }

  .shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }

  .window.hidden {
    opacity: 0;
    margin: 30px;
  }

  .bgUv{
    width: 98%;
    margin-left: 10px;
    margin-top: 10px;
    height: 50px;
    filter: blur(5px);
  }

  .overlay{
    top:-26px;
    background-color:rgba(0, 0, 0, 0.356);
    left:-5px;
    width:calc( 100% + 10px);
    height:calc( 100% + 30px);
    position:absolute;
    transition-duration: .6s;
    transition-property: all;
    z-index: 100;
  }

  .overlay:hover{
    background-color:rgba(0, 0, 0, 0);
  }

  
  .flexible-modal-mask {
    position: fixed;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  .flexible-modal-resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
  }
  .flexible-modal-drag-area{
    height: 25px;
    position:absolute;
    right:0;
    top:0;
  }

  .body{
      position: absolute;
      margin-top:26px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255);
  } 

  .maximizedBody {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .frame{
    position: relative;
    width: 99.95%;
    height: 99.95%;
    border: 0px;
    background-color: rgb(255, 255, 255);
  } 

  .appTitle{
    position: absolute;
    left: 30px;
    right: 80px;
    top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	}
	.titleBar{
    float: left;
    margin-top: 6.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 112px;
	}
	.appIcon{
    position: absolute;
		width:18px;
    height:18px;
    left: 2px;
    top: 1px;
	}
	.appControls{
    width:72px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 4px;
	}
	.btnControl{
		width:18px;
		height:18px;
    float:right;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    transition-duration: .2s;
    transition-property: all;
	}
	.btnControl:hover{
    filter:brightness(120%);
    transition-duration: .2s;
    transition-property: all;
	}
	.btnXControl{
		width:18px;
		height:18px;
    float:right;
    margin: 0;
    padding: 0;
    margin-right: 5px;
    transition-duration: .2s;
    transition-property: all;
	}
	.btnXControl:hover{
    filter:brightness(150%);
    transition-duration: .2s;
    transition-property: all;
	}

  .fullScreen{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;
  }

  .exitFS{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0,0);
    transition-property: all;
    transition-duration: 0.2s;
  }

  .exitFS:hover {
    height: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }