.desktopIcon {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 10px;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    float:left;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px #000000;
}

.desktopIcon:hover {
    background-color: rgba(255, 255, 255, 0.246);
}

.desktopIconImage{
    width: 37px;
    height: 37px;
}

.desktopIconLabel{
    width: 61px;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
