.icon {
  position: relative;
  width: 170px;
  height: auto;
  margin: 5px;
  padding: 1px;
  float: left;
  overflow:hidden;
}

.img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  padding: 0px;
}

.label {
  position: absolute;
  left: 58px;
  top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100px;
}
