.App {
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed; 
  background-color: #004e98;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  zoom: 1;
  cursor: default;
  user-select: none;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


.backgroundVideo {
  position: fixed;
  top:0;
  /* Span the full grid */
  grid-area: var(--fullGrid);

  /* Re-size video to cover full screen while maintaining aspect ratio */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  /* Display video below overlay */
  z-index: -1;
}

.backgroundVideo::-webkit-media-controls {
  display: none !important;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed; 
  background-color: #004e98;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed; 
  top: 0; 
  left: 0; 
  zoom: 1;
  cursor: default;
  user-select: none;
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.windowArea{
  width: 100%;
    /* Firefox */
  height: -moz-calc(100% - 39px);
  /* WebKit */
  height: -webkit-calc(100% - 39px);
  /* Opera */
  height: -o-calc(100% - 39px);
  /* Standard */
  height: calc(100% - 39px);
  position: relative;
} 

.winItem {
  opacity: 1;
  transition: all .2s;
} 
.winItem.hidden{
  opacity: 0;
  display: none;
} 


.react-contextmenu{
  cursor: default;
  background-color: rgba(255, 255, 255, 0.918);
  border-color: rgb(0, 0, 0)(0, 0, 0);
  border-width: .4px;
  border-style: solid; 
  padding: 2px;
  width: 150px;
  font-size: 15px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
} 

.react-contextmenu-item{
  background-color: rgba(255, 255, 255, 0.719);
  color: black;
  padding: 8px;
}

.react-contextmenu-item:hover{
  background-color: #316ac5;
  color:white;
}

.react-contextmenu-item--divider{
  background-color: rgb(199, 199, 199) !important;
  height: .1px;
  font-size: 0;
  padding: .4px;
  margin-left: 3px;
  margin-right: 3px;
}

.react-contextmenu-item--divider:hover{
  background-color: rgb(122, 120, 120) !important;
}