.appCard{
    background-color: rgba(0, 1, 65, 0);
    width: 90%;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
} 

.appCard:hover{
    background-color: rgba(0, 1, 65, 0.37);
} 

.appCardOffline{
    background-color: rgba(0, 1, 65, 0);
    width: 95%;
    height: 40px;
    margin: 5px;
    padding: 5px;
} 


.appCardTitle {
    margin-top: 5px;
    overflow: hidden;
} 

.appCardIcon{
    float: left;
    margin-Right: 10px;
    width: 32px;
    height: 32px;
}  

.appCardIconOffline{
    float: left;
    margin-Right: 10px;
    width: 32px;
    height: 32px;
    filter: grayscale();
}  

.searchBox{
    width: 80%;
    padding-top: 15px;
} 

.searchBox input{
    width: 270px;
    margin-left: 10px;
} 

.addToDeskop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -55px;
    left: 180px;
    cursor: pointer;
}

.isAppFavorite{
    position: absolute;
    right: 15px;
    top:5px;
    width: 10px;
    height: 10px;
}

.isAppNotFavorite{
    position: absolute;
    right: 15px;
    top:5px;
    width: 10px;
    height: 10px;
    filter: grayscale();
}