.appCard{
    background-color: rgba(0, 1, 65, 0.103);
    width: 95%;
    height: 32px;
    margin: 5px;
    padding: 5px;
    color: white;
} 

.appCard :hover{
    color:rgb(223, 214, 255);
} 

.appCardIcon{
    float: left;
    margin-Right: 10px;
    width: 32px;
    height: 32px;
}  