.CategoryTitle{
    padding: 0;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.CategoryTitleBar {
    width: 500px;
    height: 3px;
    background: linear-gradient(to right,  rgba(61, 149, 255, 0.842) 0%,rgba(125, 186, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

}