
.BatteryStatus{
    width: 40px;
    height: 40px;
    position: relative;
} 

.batteryCharging{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
    width: 20px;
    height: 25px;
    z-index: 100;
} 

.lowBattery{
    position: absolute;
    top: 0px;
    left: 5px;
    margin: 5px;
    width: 30px;
    height: 25px;
    z-index: 100;
} 


.battery {
	width:40px;
    height:40px;
    padding-top: 2.5px;
	position: relative;
}

.batteryTop {
	width:10px;
	height:2px;
	background-color: black;
}

.batteryContaimer {
	border-style: solid;
	position:relative;
	width: 12px;
	height: 20px;
}

.batteryCharge {
	position:absolute;
	bottom:0px;
	width:100%;
	background-color:grey;
}