.comboContainer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 12px;
}

.comboTitle {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    left,
    rgb(255, 255, 255) 62%,
    rgb(255, 255, 255) 62%,
    #c6d3f7 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgb(255, 255, 255) 62%,
    rgb(255, 255, 255) 62%,
    #c6d3f7 100%
  );
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 62%,
    rgb(255, 255, 255) 62%,
    #c6d3f7 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7db9e8',GradientType=1 );
  color: #215dc6;
  width: 100%;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.comboSwitch {
  background-color: #003ca5;
  width: 13px;
  height: 13px;
  margin: 5px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.comboSwitch:hover {
  background-color: #002c79;
}

.innerCombo {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 97%;
  background-color: #d6dff7;
}
